Repository Miragon/miranum, pull requests merged in 2023-02, with the labels that each got.

#13 feat(doc): add README.md for simple example
  examples/README.md
  examples/simple-example/README.md
  examples/simple-example/simple-example-camunda-7/src/main/resources/bpmn/message-c7.bpmn
  images/simple-example-bpmn.png
Labels: examples, images

#14 feat: auth interceptor
  connect/connect-c7/oauth-c7/pom.xml
  connect/connect-c7/oauth-c7/src/main/java/io/miragon/miranum/connect/adapter/in/c7/oauth/Camunda7oAuthAutoConfiguration.java
  connect/connect-c7/oauth-c7/src/main/resources/META-INF/spring.factories
  connect/connect-c7/pom.xml
  connect/connect-c7/worker-adapter-in-c7/src/main/java/io/miragon/miranum/connect/adapter/in/c7/worker/Camunda7Mapper.java
  examples/simple-example/simple-example-camunda-7/pom.xml
  examples/simple-example/simple-example-camunda-7/src/main/resources/application.properties
  examples/simple-example/simple-example-camunda-7/src/main/resources/bpmn/message-c7.bpmn
  examples/simple-example/simple-example-camunda-8/src/main/resources/bpmn/message-c8.bpmn
  examples/simple-example/simple-example-core/src/main/java/io/miragon/miranum/integrations/example/ExampleConfiguration.java
  examples/simple-example/simple-example-core/src/main/java/io/miragon/miranum/integrations/example/application/service/SendMessageService.java
Labels: connect, examples

#21 feat(process): implement miranum process-core for c7/8
  connect/connect-c7/message-adapter-out-c7/pom.xml
  connect/connect-c7/message-adapter-out-c7/src/main/java/io/miragon/miranum/connect/adapter/in/c7/message/Camunda7CorrelateMessageMapper.java
  connect/connect-c7/message-adapter-out-c7/src/main/java/io/miragon/miranum/connect/adapter/in/c7/message/Camunda7MessageAdapter.java
  connect/connect-c7/message-adapter-out-c7/src/main/java/io/miragon/miranum/connect/adapter/in/c7/message/Camunda7MessageAutoConfiguration.java
  connect/connect-c7/pom.xml
  connect/connect-c7/process-adapter-in-c7/pom.xml
  connect/connect-c7/process-adapter-in-c7/src/main/java/io/miragon/miranum/connect/adapter/in/c7/process/Camunda7ProcessAdapter.java
  connect/connect-c7/process-adapter-in-c7/src/main/java/io/miragon/miranum/connect/adapter/in/c7/process/Camunda7ProcessAutoConfiguration.java
  connect/connect-c7/process-adapter-in-c7/src/main/resources/META-INF/spring.factories
  connect/connect-c7/process-adapter-in-c7/src/test/java/io/miragon/miranum/connect/adapter/in/c7/process/Camunda7ProcessAdapterTest.java
  connect/connect-c7/utils-c7/pom.xml
  connect/connect-c7/utils-c7/src/main/java/io/miragon/miranum/connect/c7/utils/Camunda7BaseVariableValueMapper.java
  connect/connect-c7/utils-c7/src/main/java/io/miragon/miranum/connect/c7/utils/Camunda7UtilsAutoConfiguration.java
  connect/connect-c7/utils-c7/src/main/resources/META-INF/spring.factories
  connect/connect-c7/utils-c7/src/test/java/io/miragon/miranum/connect/c7/utils/Camunda7BaseVariableValueMapperTest.java
  connect/connect-c7/worker-adapter-in-c7/src/main/java/io/miragon/miranum/connect/adapter/in/c7/worker/Camunda7Mapper.java
  connect/connect-c7/worker-adapter-in-c7/src/main/java/io/miragon/miranum/connect/adapter/in/c7/worker/Camunda7WorkerAdapter.java
  connect/connect-c8/message-adapter-out-c8/src/main/java/io/miragon/miranum/connect/adapter/in/c8/message/Camunda8MessageAdapter.java
  connect/connect-c8/pom.xml
  connect/connect-c8/process-adapter-in-c8/pom.xml
  connect/connect-c8/process-adapter-in-c8/src/main/java/io/miragon/miranum/connect/adapter/in/c8/process/Camunda8ProcessAdapter.java
  connect/connect-c8/process-adapter-in-c8/src/main/java/io/miragon/miranum/connect/adapter/in/c8/process/Camunda8ProcessAutoConfiguration.java
  connect/connect-c8/process-adapter-in-c8/src/main/resources/META-INF/spring.factories
  connect/connect-c8/process-adapter-in-c8/src/test/java/io/miragon/miranum/connect/adapter/in/c8/process/Camunda8ProcessAdapterTest.java
  connect/connect-core/connect-message/message-core/src/main/java/io/miragon/miranum/connect/message/application/port/out/DeliverMessagePort.java
  connect/connect-core/connect-message/message-core/src/main/java/io/miragon/miranum/connect/message/domain/MessageCorrelationException.java
  connect/connect-core/connect-process/process-core/src/main/java/io/miragon/miranum/connect/process/ProcessAutoConfiguration.java
  connect/connect-core/connect-process/process-core/src/main/java/io/miragon/miranum/connect/process/application/port/in/StartProcessCommand.java
  connect/connect-core/connect-process/process-core/src/main/java/io/miragon/miranum/connect/process/application/port/in/StartProcessUseCase.java
  connect/connect-core/connect-process/process-core/src/main/java/io/miragon/miranum/connect/process/application/port/out/StartProcessPort.java
  connect/connect-core/connect-process/process-core/src/main/java/io/miragon/miranum/connect/process/application/service/StartProcessService.java
  connect/connect-core/connect-process/process-core/src/main/java/io/miragon/miranum/connect/process/domain/ProcessStartingException.java
  connect/connect-core/connect-process/process-core/src/main/resources/META-INF/spring.factories
  examples/README.md
  examples/pom.xml
  examples/process-example/pom.xml
  examples/process-example/process-example-camunda-7/pom.xml
  examples/process-example/process-example-camunda-7/src/main/java/io/miragon/miranum/examples/process/c7/ProcessExampleC7Application.java
  examples/process-example/process-example-camunda-7/src/main/resources/application.properties
  examples/process-example/process-example-camunda-7/src/main/resources/bpmn/process-example-c7.bpmn
  examples/process-example/process-example-camunda-8/pom.xml
  examples/process-example/process-example-camunda-8/src/main/java/io/miragon/miranum/examples/process/c8/ProcessExampleC8Application.java
  examples/process-example/process-example-camunda-8/src/main/resources/application.properties
  examples/process-example/process-example-camunda-8/src/main/resources/bpmn/process-example-c8.bpmn
  examples/process-example/process-example-core/pom.xml
  examples/process-example/process-example-core/src/main/java/io/miragon/miranum/examples/process/ProcessExampleConfiguration.java
  examples/process-example/process-example-core/src/main/java/io/miragon/miranum/examples/process/adapter/in/rest/StartProcessController.java
  examples/process-example/process-example-core/src/main/java/io/miragon/miranum/examples/process/adapter/in/rest/StartProcessRequestDto.java
  examples/process-example/process-example-core/src/main/java/io/miragon/miranum/examples/process/application/port/in/SendMessageCommand.java
  examples/process-example/process-example-core/src/main/java/io/miragon/miranum/examples/process/application/port/in/SendMessageUseCase.java
  examples/process-example/process-example-core/src/main/java/io/miragon/miranum/examples/process/application/service/SendMessageService.java
  examples/process-example/process-example-core/src/main/java/io/miragon/miranum/examples/process/domain/Message.java
Labels: connect, examples

#29 fix(connect-task): task api naming
  connect/connect-core/connect-task/task-api/src/main/java/io/miragon/miranum/connect/task/api/TaskApi.java
  connect/connect-core/connect-task/task-api/src/main/java/io/miragon/miranum/connect/task/impl/CompleteTaskPort.java
  connect/connect-core/connect-task/task-api/src/main/java/io/miragon/miranum/connect/task/impl/TaskService.java
Labels: connect
