Repository Miragon/miranum, pull requests merged in 2023-03, with the labels that each got.

#42 feat: Adding Jacoco code coverage
  .github/workflows/build.yaml
  miranum-coverage/pom.xml
  pom.xml
Labels: miranum-coverage

#65 refactor: move other examples to the consulting repository
  examples/README.md
  examples/gateway-example/Readme.md
  examples/gateway-example/gateway-c7/pom.xml
  examples/gateway-example/gateway-c7/src/main/java/io/miragon/miranum/gateway/c7/CloudEventTest2Handler.java
  examples/gateway-example/gateway-c7/src/main/java/io/miragon/miranum/gateway/c7/CloudEventTestHandler.java
  examples/gateway-example/gateway-c7/src/main/java/io/miragon/miranum/gateway/c7/GatewayC7Application.java
  examples/gateway-example/gateway-c7/src/main/resources/application.properties
  examples/gateway-example/pom.xml
  examples/pom.xml
  examples/process-example/pom.xml
  examples/process-example/process-example-camunda-7/pom.xml
  examples/process-example/process-example-camunda-7/src/main/java/io/miragon/miranum/examples/process/c7/ProcessExampleC7Application.java
  examples/process-example/process-example-camunda-7/src/main/resources/application.properties
  examples/process-example/process-example-camunda-7/src/main/resources/bpmn/process-example-c7.bpmn
  examples/process-example/process-example-camunda-8/pom.xml
  examples/process-example/process-example-camunda-8/src/main/java/io/miragon/miranum/examples/process/c8/ProcessExampleC8Application.java
  examples/process-example/process-example-camunda-8/src/main/resources/application.properties
  examples/process-example/process-example-camunda-8/src/main/resources/bpmn/process-example-c8.bpmn
  examples/process-example/process-example-core/pom.xml
  examples/process-example/process-example-core/src/main/java/io/miragon/miranum/examples/process/ProcessExampleConfiguration.java
  examples/process-example/process-example-core/src/main/java/io/miragon/miranum/examples/process/adapter/in/rest/StartProcessController.java
  examples/process-example/process-example-core/src/main/java/io/miragon/miranum/examples/process/adapter/in/rest/StartProcessRequestDto.java
  examples/process-example/process-example-core/src/main/java/io/miragon/miranum/examples/process/application/port/in/SendMessageCommand.java
  examples/process-example/process-example-core/src/main/java/io/miragon/miranum/examples/process/application/port/in/SendMessageUseCase.java
  examples/process-example/process-example-core/src/main/java/io/miragon/miranum/examples/process/application/service/SendMessageService.java
  examples/process-example/process-example-core/src/main/java/io/miragon/miranum/examples/process/domain/Message.java
  examples/schema-client-example/pom.xml
  examples/schema-client-example/src/main/java/io/miragon/miranum/examples/schema/client/SchemaClientExampleApplication.java
  examples/schema-client-example/src/main/java/io/miragon/miranum/examples/schema/client/SchemaController.java
  examples/schema-client-example/src/main/resources/application.yaml
  examples/simple-example/pom.xml
Labels: connect, examples

#73 feat(element-templates): add element template generation feature for c7
  connect/connect-c7/element-templates-c7/pom.xml
  connect/connect-c7/element-templates-c7/src/main/java/io/miragon/miranum/connect/adapter/in/c7/elementtemplates/Camunda7ElementTemplateAutoConfiguration.java
  connect/connect-c7/element-templates-c7/src/main/java/io/miragon/miranum/connect/adapter/in/c7/elementtemplates/Camunda7ElementTemplateGenerator.java
  connect/connect-c7/element-templates-c7/src/main/java/io/miragon/miranum/connect/adapter/in/c7/elementtemplates/CamundaC7ElementTemplateConverter.java
  connect/connect-c7/element-templates-c7/src/main/java/io/miragon/miranum/connect/adapter/in/c7/elementtemplates/SchemaMixin.java
  connect/connect-c7/element-templates-c7/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  connect/connect-c7/element-templates-c7/src/main/resources/schema/camunda-c7-element-template.json
  connect/connect-c7/element-templates-c7/src/test/java/io/miragon/miranum/connect/adapter/in/c7/elementtemplates/Camunda7ElementTemplateGeneratorTest.java
  connect/connect-c7/element-templates-c7/src/test/resources/expected-test-element-template-no-input-and-output.json
  connect/connect-c7/element-templates-c7/src/test/resources/expected-test-element-template-with-annotated-input-properties.json
  connect/connect-c7/element-templates-c7/src/test/resources/expected-test-element-template.json
  connect/connect-c7/pom.xml
  connect/connect-core/connect-element-templates/element-template-api/pom.xml
  connect/connect-core/connect-element-templates/element-template-api/src/main/java/io/miragon/miranum/connect/elementtemplate/ElementTemplateAutoConfiguration.java
  connect/connect-core/connect-element-templates/element-template-api/src/main/java/io/miragon/miranum/connect/elementtemplate/api/BPMNElementType.java
  connect/connect-core/connect-element-templates/element-template-api/src/main/java/io/miragon/miranum/connect/elementtemplate/api/ElementTemplateProperty.java
  connect/connect-core/connect-element-templates/element-template-api/src/main/java/io/miragon/miranum/connect/elementtemplate/api/GenerateElementTemplate.java
  connect/connect-core/connect-element-templates/element-template-api/src/main/java/io/miragon/miranum/connect/elementtemplate/api/PropertyType.java
  connect/connect-core/connect-element-templates/element-template-api/src/main/java/io/miragon/miranum/connect/elementtemplate/impl/ElementTemplateGenerationDelegate.java
  connect/connect-core/connect-element-templates/element-template-api/src/main/java/io/miragon/miranum/connect/elementtemplate/impl/ElementTemplateGenerationResult.java
  connect/connect-core/connect-element-templates/element-template-api/src/main/java/io/miragon/miranum/connect/elementtemplate/impl/ElementTemplateInfo.java
  connect/connect-core/connect-element-templates/element-template-api/src/main/java/io/miragon/miranum/connect/elementtemplate/impl/ElementTemplateInfoMapper.java
  connect/connect-core/connect-element-templates/element-template-api/src/main/java/io/miragon/miranum/connect/elementtemplate/impl/ElementTemplatesGenerator.java
  connect/connect-core/connect-element-templates/element-template-api/src/main/java/io/miragon/miranum/connect/elementtemplate/impl/GenerateElementTemplatePort.java
  connect/connect-core/connect-element-templates/element-template-api/src/main/java/io/miragon/miranum/connect/elementtemplate/impl/GenerateElementTemplatesCommand.java
  connect/connect-core/connect-element-templates/element-template-api/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  connect/connect-core/connect-element-templates/element-template-api/src/test/java/io/miragon/miranum/connect/elementtemplate/impl/ElementTemplateInfoMapperTest.java
  connect/connect-core/connect-element-templates/pom.xml
  connect/connect-core/connect-shared/pom.xml
  connect/connect-core/connect-shared/src/main/java/io/miragon/miranum/connect/shared/TooManyParametersException.java
  connect/connect-core/connect-worker/worker-api/pom.xml
  connect/connect-core/connect-worker/worker-api/src/main/java/io/miragon/miranum/connect/worker/WorkerAutoConfiguration.java
  connect/connect-core/connect-worker/worker-api/src/main/java/io/miragon/miranum/connect/worker/api/ToManyParametersExecption.java
  connect/connect-core/connect-worker/worker-api/src/main/java/io/miragon/miranum/connect/worker/impl/ContextInitializer.java
  connect/connect-core/connect-worker/worker-api/src/main/java/io/miragon/miranum/connect/worker/impl/WorkerInfoMapper.java
  connect/connect-core/connect-worker/worker-api/src/main/java/io/miragon/miranum/connect/worker/impl/WorkerInitializer.java
  connect/connect-core/pom.xml
  examples/simple-example/README.md
  examples/simple-example/simple-example-camunda-7/pom.xml
  examples/simple-example/simple-example-camunda-7/src/main/java/io/miragon/miranum/integrations/example/c7/ExampleC7Application.java
  examples/simple-example/simple-example-camunda-7/src/main/resources/bpmn/.camunda/element-templates/send-message-0.1.json
  examples/simple-example/simple-example-camunda-7/src/main/resources/bpmn/message-c7.bpmn
  examples/simple-example/simple-example-core/pom.xml
  examples/simple-example/simple-example-core/src/main/java/io/miragon/miranum/integrations/example/ExampleConfiguration.java
  examples/simple-example/simple-example-core/src/main/java/io/miragon/miranum/integrations/example/application/service/SendMessageService.java
Labels: connect, examples

#81 feat: updated Readme
  CODE_OF_CONDUCT.md
  README.md
  images/logo.png
  images/logo_blau.png
Labels: documentation, connect, images
